body {
    background: #ffffff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .typewriter {
    text-align: left;
  }

  .typewriter h1 {
    color: #000000;
    font-family: monospace;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    opacity: 0;
    width: 0;
  }

  .typewriter h1:nth-child(1) {
    border-right: .15em solid rgb(0, 0, 0);
    animation: 
      typing1 2s steps(20, end) forwards,
      blink-caret .5s step-end infinite;
    animation-delay: 0s;
  }

  .typewriter h1:nth-child(2) {
    border-right: .15em solid rgb(0, 0, 0);
    animation: 
      typing2 2s steps(20, end) forwards,
      blink-caret .5s step-end infinite;
    animation-delay: 2s;
    opacity: 0;
  }

  .typewriter h1:nth-child(3) {
    border-right: .15em solid rgb(0, 0, 0);
    animation: 
      typing3 2s steps(20, end) forwards,
      blink-caret .5s step-end infinite;
    animation-delay: 4s;
    opacity: 0;
  }

  .arrow-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease; 
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 6s; 
}

.arrow-button:hover {
    transform: scale(1.2); 
}

.arrow-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

  @keyframes typing1 {
    0% { 
      width: 0;
      opacity: 1;
    }
    99% { 
      border-right: .15em solid rgb(0, 0, 0);
    }
    100% { 
      width: 100%;
      opacity: 1;
      border-right: none;
    }
  }

  @keyframes typing2 {
    0% { 
      width: 0;
      opacity: 1;
    }
    99% { 
      border-right: .15em solid rgb(0, 0, 0);
    }
    100% { 
      width: 100%;
      opacity: 1;
      border-right: none;
    }
  }

  @keyframes typing3 {
    0% { 
      width: 0;
      opacity: 1;
    }
    100% { 
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0) }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }